
ul{
  list-style: none;
}
.body{
    background-color: rgb(224, 26, 92);
    display: flex;
    justify-content: center;
}
.container{
    display:flex;
    flex-direction: column;
    align-content: center;
  
}
.Questioncard{
    color: rgba(43, 41, 41, 0.911);
    margin: 2vh;
    padding: 3vh;
display: flex; 
flex-direction: column;   
align-items: center;
background-color: white;
 border-radius: 12px;
  box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  max-width: 70vh;
  align-self: center;
}
.options{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.option {
  font-family: "Poppins", sans-serif;
  background-color: white;
  font-size: 2.5vh;
  font-weight: 500;
  
  line-height: 1.4;
  padding: 3vh;
  width: 100%;
  border-color: transparent;
  border-radius: 4px;
}
.option:hover{
  background-color: rgb(215, 158, 236) ;
  
box-shadow: 2px 4px 4px 2.2px rgba(0, 0, 0, 0.2);
 
}
.nextbtn{
    margin: 4vh;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
    background-color: rgb(81, 187, 81);
    height: 7vh;
    width: 10vh;
    border-radius: 1vh;
    color:#ffffff;   
    border: none;
    margin-right :0;
}
.nextbtn:hover{
   background-color: rgb(55, 141, 55); 
}
.resetbtn{
  margin-left: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
    height: 7vh;
    background-color: rgb(155, 128, 231);
    border: none;
    border-radius: 1vh;
    color: #ffffff;
}
.resetbtn:hover{
  background-color: rgb(124, 63, 194);
}


.quote{
    color: rgb(97, 73, 99);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.suggestionbox{
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: #333; /* Dark gray for soft contrast */
  line-height: 1.6;
  background-color: #fdf6f6; /* soft warm background */
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin: 10px 0;
}
